.full-body{
    max-width: 500px;
    margin: auto;
    background-color: rgb(127, 155, 80);
    height: 400px;
    padding-top: 120px;
    padding-left: 50px;
    background-image: url("https://images.pexels.com/photos/6975469/pexels-photo-6975469.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

input{
    width: 25%;
}

button{
    text-align: center;
    color: darkred;
    margin-left: 120px;
}

.image{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}